@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

:root {
  --border-radius: 16px;
  --gap: 16px;
  --padding: 16px;
  --sub-task-item-padding: 8px;

  --background-color: hsl(235, 4%, 90%);

  --gray-50: hsl(235, 4%, 98%);
  --gray-100: hsl(235, 4%, 95%);
  --gray-200: hsl(235, 4%, 90%);

  --gray-300: hsl(235, 4%, 85%); /* table */
  --gray-400: hsl(235, 4%, 75%);
  --text: hsl(235, 4%, 30%); /* table text text */
  --icon: hsl(235, 4%, 40%);

  --gray-500: hsl(235, 4%, 50%);
  --gray-600: hsl(235, 4%, 40%);
  --gray-700: hsl(235, 4%, 30%);
  --gray-800: hsl(235, 4%, 20%);
  --gray-900: hsl(235, 4%, 10%);
  --gray-1000: hsl(235, 4%, 4%);

  --green-500: #17c450;
  --green-600: #129d40;
}

body {
  background-color: var(--background-color);
  overflow: hidden;
}
.add-task-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: end;
  gap: 16px;
  opacity: 0;
  z-index: 3;
  transition: 0.3s ease-out;
  background-color: hsl(235, 4%, 20%, 0.3);
  pointer-events: none;
  backdrop-filter: blur(2px);
}
.add-task-form {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap));
  width: 30%;
  height: 100%;
  background-color: var(--gray-300);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  padding: 32px;
  transition: 0.5s ease-out;
  transform: translateX(100%);
}
.add-task-form hr {
  background-color: var(--gray-400);
  height: 1px;
  border: none;
}
.add-task-container.active {
  opacity: 1;
  pointer-events: all;
}

.add-task-container.active .add-task-form {
  transform: translateX(0);
}
.add-task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-task-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.column-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
}
.column-input label {
  font-size: 0.8rem;
  color: var(--gray-700);
}
.horizontal-input label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
.add-task-body input,
.add-task-body select {
  border-radius: 8px;
  border: 1px solid var(--gray-400);
  outline: none;
  padding: 4px 8px;
}
.horizontal-input {
  display: flex;
  align-items: center;
  gap: 8px;
}
.add-task-footer {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
  justify-content: end;
}
.tasks-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 64px;
  gap: 16px;
}

.tasks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks-title {
  color: var(--gray-1000);
  font-size: 1.8rem;
  font-weight: 700;
}
.tasks-actions {
  display: flex;
  gap: 8px;
}
.actions-btn {
  padding: 8px 16px;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 12px;
  transition: 0.2s ease-in;
  cursor: pointer;
  border: none;
}

.dark-btn {
  background-color: var(--gray-900);
  color: var(--background-color);
}
.dark-btn:hover {
  background-color: var(--gray-1000);
}
.dark-btn:active {
  background-color: var(--gray-800);
}
#exportTasksBtn {
  background-color: var(--gray-100);
  color: var(--gray-1400);
}
#exportTasksBtn:hover {
  background-color: var(--gray-50);
}
#exportTasksBtn:active {
  background-color: var(--gray-150);
}
.tasks-content {
  width: 100%;
  height: min-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/* naglowek */
.header-data-cell p {
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--text);
}

.list-header,
.task-header {
  display: grid;
  grid-template-columns: 16px 3fr 96px 112px 1fr 96px 40px;
  align-items: center;
  width: 100%;
  gap: var(--gap);
}

.list-header {
  background-color: var(--gray-300);
  width: 100%;
  color: var(--text);
  border-radius: 16px 16px 0 0;
  padding: 16px calc(var(--padding) + var(--padding));
  padding-bottom: 0;
}

.task-header {
  cursor: pointer;
  padding: var(--padding);
}
.header-title {
  grid-column: span 2;
}

.tasks-list-wrapper {
  background-color: var(--gray-300);
  border-radius: 0 0 16px 16px;

  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  padding: var(--padding);
}

#taskList {
  background-color: transparent;
  border-radius: 0;

  list-style: none;
  display: flex;
  flex-direction: column;
  /* gap: var(--padding); */

  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;

  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--gray-400) transparent;
}

@keyframes slideInAndExpandTask {
  0% {
    opacity: 0;
    transform: translateX(-100%); /* Startujemy lekko z lewej */

    /* Element jest "zgnieciony" */
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }
  50% {
    max-height: 64px;
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0);

    /* Element wraca do normalnych wymiarów */
    max-height: 64px;

    margin-bottom: var(--padding);
  }
}

.slide-in-task-animation {
  animation: slideInAndExpandTask 0.5s ease-out forwards;
}

@keyframes slideOutAndCollapseTask {
  0% {
    opacity: 1;
    transform: translateX(0);
    /* Ustawiamy startowe wartości takie, jakie element ma normalnie */
    max-height: 64px;
    margin-bottom: var(--padding);
  }
  50% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    max-height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
    transform: translateX(100%);
  }
}

.slide-out-task-animation {
  /* Ważne: overflow: hidden jest konieczne, żeby treść nie wystawała podczas zwijania */
  overflow: hidden;
  animation: slideOutAndCollapseTask 0.5s ease-in-out forwards;
  pointer-events: none; /* Żeby nie dało się kliknąć w trakcie usuwania */
}

#taskList::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-500);
}

.task-item {
  background-color: var(--background-color);
  border-radius: calc(var(--border-radius) - var(--padding) / 2);
  margin-top: 0;
  border-top: none;
  transition: 0.2s ease-in;
  margin-bottom: var(--padding);
}

.task-item:last-child {
  margin-bottom: 0;
}
.task-item:hover {
  background-color: var(--background-color);
}

.task-name {
  display: flex;
  align-items: center;
  gap: 8px;
}
.task-date {
  width: 100%;
}
.task-priority {
  display: flex;
  justify-content: flex-start;
}

.priority-dot,
.status-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.priority-text,
.status-text {
  font-size: 0.8rem;
}
.priority-container,
.status-container {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  border-radius: 12px;
  transition: 0.2 ease-in;
}

.status-container.NOT_STARTED .status-dot {
  background-color: hsl(219, 8%, 41%);
}
.status-container.IN_PROGRESS .status-dot {
  background-color: hsl(41, 85%, 56%);
}
.status-container.COMPLETED .status-dot {
  background-color: hsl(209, 71%, 52%);
}

.status-container.NOT_STARTED {
  background-color: hsl(219, 8%, 41%, 0.2);
  color: hsl(219, 8%, 41%);
}
.status-container.IN_PROGRESS {
  background-color: hsl(41, 85%, 56%, 0.2);
  color: hsl(41, 85%, 56%);
}
.status-container.COMPLETED {
  background-color: hsl(209, 71%, 52%, 0.2);
  color: hsl(209, 71%, 52%);
}

.priority-container.Low .priority-dot {
  background-color: hsl(140, 79%, 43%);
}
.priority-container.Medium .priority-dot {
  background-color: hsl(41, 85%, 56%);
}
.priority-container.High .priority-dot {
  background-color: hsl(0, 85%, 56%);
}

.priority-container.Low {
  background-color: hsl(140, 79%, 43%, 0.2);
  color: hsl(140, 79%, 43%);
}
.priority-container.Medium {
  background-color: hsl(41, 85%, 56%, 0.2);
  color: hsl(41, 85%, 56%);
}
.priority-container.High {
  background-color: hsl(0, 85%, 56%, 0.2);
  color: hsl(0, 85%, 56%);
}
.progress-container {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 100%;
}
.progress-bar-text {
  font-size: 0.8rem;
  display: flex;
  justify-content: flex-end;
  width: 40px;
  transition: 0.3s ease-in;
}
.progress-bar-background {
  position: relative;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: hsl(235, 4%, 70%);
}
.progress-bar {
  position: absolute;
  height: 4px;
  border-radius: 4px;
  background-color: hsl(235, 4%, 20%);
  transition: 0.3s ease-in;
}

.header-data-cell,
.task-item-container {
  display: flex;
  align-items: center;
}

.task-item-container p {
  font-weight: 500;
  font-size: 1rem;
  color: var(--gray-900);
}

.task-active {
  width: 16px;
  height: 16px;
  position: relative;
}

.task-active span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in;
  color: var(--icon);
  font-size: 1rem;
  width: 16px;
  height: 16px;
}

.active .task-active span {
  transform: rotate(90deg);
}

.task-action {
  position: relative;
  display: flex;
  justify-content: end;
}

.task-action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.action-icon {
  opacity: 1;
}
.action-icon-close {
  opacity: 0;
}

.action-icon,
.action-icon-close {
  position: absolute;
  transition: 0.2s ease-in;
}

.task-action.active .action-icon {
  opacity: 0;
}
.task-action.active .action-icon-close {
  opacity: 1;
}
.task-action-btn:hover {
  background-color: hsl(235, 4%, 85%);
}

.task-action-menu {
  background-color: hsl(235, 4%, 95%);
  position: absolute;
  top: 40px;
  right: -4px;
  display: flex;
  width: 16px;
  height: 16px;
  border-radius: 20px;
  opacity: 0;
  transition: 0.3s ease-in;
  z-index: -1;
}
.task-action.active .task-action-menu {
  opacity: 1;
  z-index: 2;
  width: 256px;
  height: 96px;
}
.task-body {
  display: grid;
  grid-template-rows: 0fr;
  width: 100%;
  transition: 0.5s ease-in-out;
  padding: 0
    calc(
      16px + var(--gap) + var(--padding) - 6px - var(--sub-task-item-padding)
    );
}

.task-body-content {
  overflow: hidden;
  min-height: 0;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.active .task-body {
  grid-template-rows: 1fr;
  /* padding: 0
    calc(
      16px + var(--gap) + var(--padding) - 6px - var(--sub-task-item-padding)
    );
  padding-top: 10px; */
  padding: calc(var(--padding))
    calc(
      16px + var(--gap) + var(--padding) - 6px - var(--sub-task-item-padding)
    );
}

.active .task-body-content {
  opacity: 1;
}

.sub-task-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

@keyframes slideInAndExpandSubTask {
  0% {
    opacity: 0;
    transform: translateX(-100%); /* Startujemy lekko z lewej */

    /* Element jest "zgnieciony" */
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  60% {
    max-height: 48px;
    padding-top: 8px; /* Przywracamy Twój standardowy padding */
    padding-bottom: 8px;
  }
  100% {
    opacity: 1;
    transform: translateX(0);

    /* Element wraca do normalnych wymiarów */
    max-height: 48px;
    margin-bottom: var(
      --sub-task-item-padding
    ); /* Dajemy zapas, żeby zmieścił się tekst (np. 2 linijki) */
    padding-top: 8px; /* Przywracamy Twój standardowy padding */
    padding-bottom: 8px;
  }
}

.slide-in-animation {
  animation: slideInAndExpandSubTask 0.5s ease-out forwards;
}

@keyframes slideOutAndCollapseSubTask {
  0% {
    opacity: 1;
    transform: translateX(0);
    /* Ustawiamy startowe wartości takie, jakie element ma normalnie */
    max-height: 48px;
  }
  50% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    max-height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
    transform: translateX(100%);
  }
}

.slide-out-animation {
  /* Ważne: overflow: hidden jest konieczne, żeby treść nie wystawała podczas zwijania */
  overflow: hidden;
  animation: slideOutAndCollapseSubTask 0.5s ease-in-out forwards;
  pointer-events: none; /* Żeby nie dało się kliknąć w trakcie usuwania */
}

.sub-tasks-controls {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
  padding: 0 calc(6px + var(--sub-task-item-padding));
}
.sub-task-input {
  flex: 1;
  padding: 6px 32px;
  border-radius: 12px;
  border: 2px solid hsl(235, 4%, 95%);
  background-color: hsl(235, 4%, 95%);
  transition: 0.3s ease-in;
  outline: none;
}
.sub-task-input::placeholder {
  color: hsl(235, 4%, 60%);
}

.sub-task-input:hover {
  border: 2px solid hsl(235, 4%, 80%);
}

.sub-task-input:focus {
  border: 2px solid hsl(235, 4%, 70%);
}

.add-sub-task-btn {
  cursor: pointer;
  padding: 8px 24px;
  border-radius: 12px;
  background-color: var(--gray-900);
  border: 2px solid var(--gray-900);
  color: var(--background-color);

  transition: 0.2s ease-in;
}
.add-sub-task-btn:hover {
  background-color: var(--gray-1000);
  border: 2px solid var(--gray-1000);
}
.add-sub-task-btn:active {
  background-color: var(--gray-800);
  border: 2px solid var(--gray-800);
}
.sub-task-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px calc(6px + var(--sub-task-item-padding));
  transition: 0.2s ease-in;
  border-radius: 12px;
  margin-bottom: var(--sub-task-item-padding);
}
.sub-task-item:hover {
  background-color: hsl(235, 4%, 85%);
}
.sub-task-item:last-child {
  margin-bottom: 0;
}

.sub-task-custom-checkbox {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  user-select: none;
}

.sub-task-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.sub-task-checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px dashed hsl(235, 4%, 60%);
  border-radius: 50%;
  background-color: transparent;
  transition: 0.2s ease-in;
}
.sub-task-checkmark span {
  font-size: 1.2rem;
}
.sub-task-checkmark::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 2px solid hsl(235, 4%, 60%);
  opacity: 0;
  transition: 0.2s ease-in;
}
.sub-task-custom-checkbox:hover .sub-task-checkmark {
  border: 2px dashed transparent;
}
.sub-task-custom-checkbox:hover .sub-task-checkmark::before {
  opacity: 1;
}

.sub-task-custom-checkbox:hover
  .sub-task-checkbox:checked
  + .sub-task-checkmark {
  background-color: var(--green-600);
  border-color: var(--green-600);
  opacity: 1;
}

.sub-task-checkbox:checked + .sub-task-checkmark {
  background-color: var(--green-500);
  border-color: var(--green-500);
  opacity: 1;
}
.sub-task-checkbox:checked + .sub-task-checkmark::before {
  background-color: var(--green-500);
  border-color: var(--green-500);
  opacity: 1;
}
.sub-task-checkbox + .sub-task-checkmark .material-symbols-outlined {
  color: transparent;
  transition: 0.3s;
  z-index: 2;
  position: relative;
}
.sub-task-checkbox:checked + .sub-task-checkmark .material-symbols-outlined {
  color: var(--background-color);
  transition: 0.3s;
}

.sub-task-delete-btn {
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 0.8rem;
  border: none;
  background-color: transparent;
  transition: 0.2s ease-in;
}
.sub-task-delete-btn span {
  color: var(--grey-900);
}

.sub-task-delete-btn:hover {
  background-color: hsl(235, 4%, 80%);
}
.sub-task-delete-btn:active {
  background-color: hsl(235, 4%, 95%);
}

.sub-task-text {
  margin-left: 8px;
  margin-right: 4px;
  flex: 1;
  border: none;
  border-radius: 12px;
  padding: 0 var(--sub-task-item-padding);
  height: 32px;
  background-color: transparent;
  font-size: 0.9rem;
  outline: none;
}
.sub-task-text:focus {
  flex: 1;
  background-color: hsl(235, 4%, 95%);
}

.sub-task-item:hover .sub-task-text:focus {
  flex: 1;
  background-color: hsl(235, 4%, 90%);
}
