@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

:root {
  --background-color: #f7f7f7;
  --task-color: #e7e7e8;
  --border-color: #cfcfcf;
  --text-color: #272728;
}
body {
  background-color: var(--background-color);
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 64px;
  gap: 16px;
}

.tasks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks-title {
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 700;
}

.actions-btn {
  padding: 8px 16px;
  font-weight: 600;
  font-size: 0.8rem;
  background-color: var(--background-color);
  border: 2px solid var(--task-color);
  border-radius: 6px;
  color: var(--text-color);
  transition: 0.2s;
  cursor: pointer;
}

#addTaskBtn {
  color: var(--background-color);
  background-color: var(--text-color);
  border: 2px solid var(--text-color);
}

#exportTasksBtn:hover {
  background-color: var(--task-color);
  border: 2px solid var(--border-color);
}

#addTaskBtn:hover {
  background-color: #3f3f40;
  border: 2px solid #3f3f40;
}

.tasks-content {
  width: 100%;
  height: 100%;
}
/* 
.list-header {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--task-color);
  padding: 8px 12px;
  border-radius: 12px 12px 0 0;
  background-color: var(--task-color);
  font-size: 1rem;
  font-weight: 800;
  color: var(--text-color);
}
.header-title {
  width: 40%;
}
.header-date,
.header-status,
.header-progress {
  flex: 1;
}

.header-icon,
.task-active {
  width: 24px;
  height: 24px;
}

.header-action,
.task-action {
  width: 48px;
}
#taskList {
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: var(--task-color);
  gap: 4px;
  padding: 4px;
  border-radius: 0 0 12px 12px;
}
.task-item {
  background-color: var(--background-color);
  cursor: pointer;
  border: 2px solid var(--task-color);
  border-top: 0;
  padding: 8px;
  border-radius: 8px;
}

.task-header {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
}

.task-name {
  width: 40%;
}
.task-date,
.task-status,
.task-progress {
  flex: 1;
}



.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.task-active span {
  position: absolute;
  transition: 0.3s ease-in-out;
  font-size: 20px;
}
.active .task-active span {
  transform: rotate(90deg);
}

.task-body {
  display: none;
  width: 100%;
  transition: 1s;
  overflow: hidden;
  padding-left: 32px;
}

.task-body ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
}

.active .task-body {
  display: flex;
  margin-top: 8px;
  height: min-content;
} */

/* aldj */

.list-header,
.task-header {
  display: grid;
  grid-template-columns: 24px 3fr 1fr 1fr 1fr 48px;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.task-active,
.task-action {
  display: flex;
  align-items: center;
  justify-content: center;
}

#taskList {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.task-body {
  display: grid;
  grid-template-rows: 0fr;
  width: 100%;
  transition: 0.5s ease-in-out;
  padding: 0;
}

.task-body ul {
  padding-left: 32px;
  overflow: hidden;
  min-height: 0;
  display: flex;
  gap: 8px;
  flex-direction: column;

  list-style: none;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.active .task-body {
  grid-template-rows: 1fr;
  padding: 16px 0;
}

.active .task-body ul {
  opacity: 1;
}
