@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

:root {
  --border-radius: 12px;

  --table-padding: 12px;
  --item-padding: 12px;

  --background-color: hsl(235, 4%, 90%);

  --gray-50: hsl(235, 4%, 98%);
  --gray-100: hsl(235, 4%, 95%);
  --gray-200: hsl(235, 4%, 90%);

  --gray-300: hsl(235, 4%, 85%); /* table */

  --text: hsl(235, 4%, 30%); /* table text text */
  --icon: hsl(235, 4%, 40%);

  --gray-400: hsl(235, 4%, 60%);
  --gray-500: hsl(235, 4%, 50%);
  --gray-600: hsl(235, 4%, 40%);
  --gray-700: hsl(235, 4%, 30%);
  --gray-800: hsl(235, 4%, 20%);
  --gray-900: hsl(235, 4%, 10%);
  --gray-1000: hsl(235, 4%, 4%);

  --green-500: #17c450;
  --green-600: #129d40;
}

body {
  background-color: var(--background-color);
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 64px;
  gap: 16px;
}

.tasks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks-title {
  color: var(--gray-1000);
  font-size: 1.8rem;
  font-weight: 700;
}
.tasks-actions {
  display: flex;
  gap: 8px;
}
.actions-btn {
  padding: 8px 16px;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 12px;
  transition: 0.2s ease-in;
  cursor: pointer;
  border: none;
}

#addTaskBtn {
  background-color: var(--gray-900);
  color: var(--background-color);
}
#addTaskBtn:hover {
  background-color: var(--gray-1000);
}
#addTaskBtn:active {
  background-color: var(--gray-800);
}
#exportTasksBtn {
  background-color: var(--gray-100);
  color: var(--gray-1400);
}
#exportTasksBtn:hover {
  background-color: var(--gray-50);
}
#exportTasksBtn:active {
  background-color: var(--gray-150);
}
.tasks-content {
  width: 100%;
  height: 100%;
}
/* naglowek */
.header-data-cell p {
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--text);
}

.list-header,
.task-header {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 40px;
  align-items: center;
  width: 100%;
  gap: 24px;
}

.list-header {
  background-color: var(--gray-300);
  width: 100%;
  color: var(--text);
  border-radius: 16px 16px 0 0;
  padding: 16px calc(var(--item-padding) + var(--table-padding));
  padding-bottom: 0;
}

.task-header {
  cursor: pointer;
  padding: var(--item-padding);
}

#taskList {
  background-color: var(--gray-300);
  border-radius: 0 0 16px 16px;
  padding: var(--table-padding);
  display: flex;
  flex-direction: column;
  gap: var(--table-padding);
  list-style: none;
}
.task-item {
  background-color: var(--background-color);
  border-radius: 8px;
  margin-top: 0;
  border-top: none;
  transition: 0.2s ease-in;
}
.task-item:hover {
  background-color: var(--background-color);
}

.task-name {
  display: flex;
  align-items: center;
  gap: 8px;
}

.task-priority {
  display: flex;
  justify-content: flex-start;
}

.priority-dot,
.status-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.priority-text,
.status-text {
  font-size: 0.8rem;
}
.priority-container,
.status-container {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  border-radius: 12px;
  transition: 0.2 ease-in;
}

.status-container.NOT_STARTED .status-dot {
  background-color: hsl(219, 8%, 41%);
}
.status-container.IN_PROGRESS .status-dot {
  background-color: hsl(41, 85%, 56%);
}
.status-container.COMPLETED .status-dot {
  background-color: hsl(209, 71%, 52%);
}

.status-container.NOT_STARTED {
  background-color: hsl(219, 8%, 41%, 0.2);
  color: hsl(219, 8%, 41%);
}
.status-container.IN_PROGRESS {
  background-color: hsl(41, 85%, 56%, 0.2);
  color: hsl(41, 85%, 56%);
}
.status-container.COMPLETED {
  background-color: hsl(209, 71%, 52%, 0.2);
  color: hsl(209, 71%, 52%);
}

.priority-container.Low .priority-dot {
  background-color: hsl(140, 79%, 43%);
}
.priority-container.Medium .priority-dot {
  background-color: hsl(41, 85%, 56%);
}
.priority-container.High .priority-dot {
  background-color: hsl(0, 85%, 56%);
}

.priority-container.Low {
  background-color: hsl(140, 79%, 43%, 0.2);
  color: hsl(140, 79%, 43%);
}
.priority-container.Medium {
  background-color: hsl(41, 85%, 56%, 0.2);
  color: hsl(41, 85%, 56%);
}
.priority-container.High {
  background-color: hsl(0, 85%, 56%, 0.2);
  color: hsl(0, 85%, 56%);
}
.progress-container {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 100%;
}
.progress-bar-text {
  font-size: 0.8rem;
  display: flex;
  justify-content: flex-end;
  width: 40px;
  transition: 0.3s ease-in;
}
.progress-bar-background {
  position: relative;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: hsl(235, 4%, 70%);
}
.progress-bar {
  position: absolute;
  height: 4px;
  border-radius: 4px;
  background-color: hsl(235, 4%, 20%);
  transition: 0.3s ease-in;
}

.header-data-cell,
.task-item-cell {
  display: flex;
  align-items: center;
}

.task-item-cell p {
  font-weight: 500;
  font-size: 1rem;
  color: var(--gray-900);
}

.task-active {
  width: 24px;
  height: 24px;
}

.task-active span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in;
  color: var(--icon);
  font-size: 1rem;
  width: 24px;
  height: 24px;
}

.active .task-active span {
  transform: rotate(90deg);
}

.task-action {
  position: relative;
  display: flex;
  justify-content: end;
}

.task-action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.action-icon {
  opacity: 1;
}
.action-icon-close {
  opacity: 0;
}

.action-icon,
.action-icon-close {
  position: absolute;
  transition: 0.2s ease-in;
}

.task-action.active .action-icon {
  opacity: 0;
}
.task-action.active .action-icon-close {
  opacity: 1;
}
.task-action-btn:hover {
  background-color: hsl(235, 4%, 85%);
}

.task-action-menu {
  background-color: hsl(235, 4%, 95%);
  position: absolute;
  top: 40px;
  right: -4px;
  display: flex;
  width: 16px;
  height: 16px;
  border-radius: 20px;
  opacity: 0;
  transition: 0.3s ease-in;
  z-index: -1;
}
.task-action.active .task-action-menu {
  opacity: 1;
  z-index: 2;
  width: 256px;
  height: 96px;
}
.task-body {
  display: grid;
  grid-template-rows: 0fr;
  width: 100%;
  transition: 0.5s ease-in-out;
  padding: 0 calc(3 * var(--item-padding));
}

.task-body-content {
  overflow: hidden;
  min-height: 0;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.active .task-body {
  /* background-color: antiquewhite; */
  grid-template-rows: 1fr;
  padding: calc(2 * var(--item-padding)) calc(3 * var(--item-padding));
}

.active .task-body-content {
  opacity: 1;
}

.sub-task-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 12px;
}
.sub-tasks-controls {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}
.sub-task-input {
  flex: 1;
  padding: 6px 32px;
  border-radius: 12px;
  border: 2px solid hsl(235, 4%, 95%);
  background-color: hsl(235, 4%, 95%);
  transition: 0.3s ease-in;
  outline: none;
}
.sub-task-input::placeholder {
  color: hsl(235, 4%, 60%);
}

.sub-task-input:hover {
  border: 2px solid hsl(235, 4%, 80%);
}

.sub-task-input:focus {
  border: 2px solid hsl(235, 4%, 70%);
}

.add-sub-task-btn {
  cursor: pointer;
  padding: 8px 24px;
  border-radius: 12px;
  background-color: var(--gray-900);
  border: 2px solid var(--gray-900);
  color: var(--background-color);

  transition: 0.2s ease-in;
}
.add-sub-task-btn:hover {
  background-color: var(--gray-1000);
  border: 2px solid var(--gray-1000);
}
.add-sub-task-btn:active {
  background-color: var(--gray-800);
  border: 2px solid var(--gray-800);
}
.sub-task-item {
  display: flex;

  align-items: center;
  cursor: pointer;
  padding: 8px 8px 8px 14px;
  transition: 0.2s ease-in;
  border-radius: 20px;
}
.sub-task-item:hover {
  background-color: hsl(235, 4%, 85%);
}

.sub-task-custom-checkbox {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  user-select: none;
}

.sub-task-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.sub-task-checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px dashed hsl(235, 4%, 60%);
  border-radius: 50%;
  background-color: transparent;
  transition: 0.2s ease-in;
}
.sub-task-checkmark span {
  font-size: 1.2rem;
}
.sub-task-checkmark::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 2px solid hsl(235, 4%, 60%);
  opacity: 0;
  transition: 0.2s ease-in;
}
.sub-task-custom-checkbox:hover .sub-task-checkmark {
  border: 2px dashed transparent;
}
.sub-task-custom-checkbox:hover .sub-task-checkmark::before {
  opacity: 1;
}

.sub-task-custom-checkbox:hover
  .sub-task-checkbox:checked
  + .sub-task-checkmark {
  background-color: var(--green-600);
  border-color: var(--green-600);
  opacity: 1;
}

.sub-task-checkbox:checked + .sub-task-checkmark {
  background-color: var(--green-500);
  border-color: var(--green-500);
  opacity: 1;
}
.sub-task-checkbox:checked + .sub-task-checkmark::before {
  background-color: var(--green-500);
  border-color: var(--green-500);
  opacity: 1;
}
.sub-task-checkbox + .sub-task-checkmark .material-symbols-outlined {
  color: transparent;
  transition: 0.3s;
  z-index: 2;
  position: relative;
}
.sub-task-checkbox:checked + .sub-task-checkmark .material-symbols-outlined {
  color: var(--background-color);
  transition: 0.3s;
}

.sub-task-delete-btn {
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 0.8rem;
  border: none;
  background-color: transparent;
  transition: 0.2s ease-in;
}
.sub-task-delete-btn span {
  color: var(--grey-900);
}

.sub-task-delete-btn:hover {
  background-color: hsl(235, 4%, 80%);
}
.sub-task-delete-btn:active {
  background-color: hsl(235, 4%, 95%);
}

.sub-task-text {
  margin-left: 8px;
  margin-right: 4px;
  flex: 1;
  border: none;
  border-radius: 8px;
  padding: 8px 8px;
  background-color: transparent;
  font-size: 0.9rem;
  outline: none;
}
.sub-task-text:focus {
  flex: 1;
  background-color: hsl(235, 4%, 95%);
}

.sub-task-item:hover .sub-task-text:focus {
  flex: 1;
  background-color: hsl(235, 4%, 90%);
}
