@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --header-size: 32px;
  --btn-text-size: 0.9rem;
  --text-size: 0.9rem;

  --button-height: 36px;
  --button-border-radius: 12px;
  --input-font-weight: 500;

  --row-height: 64px;

  --text-color: #191b1e;
  --background-color: #ededee;

  --table-row-background-color: #f7f7f8;
  --table-row-background-color-darker: hsl(240, 5%, 92%);
  --table-row-background-color-darker-hover: hsl(240, 5%, 85%);
  --table-row-background-color-darker-active: hsl(240, 5%, 75%);

  --table-header-background-color: #e5e5e6;
  --border-color: #cbcbcd;
  --input-text-color: #3f434a;
  --table-text-color: #71747a;
  --input-icon-color: #898d95;

  --border-size: 2px;
  --border-radius: 16px;

  --gap: 16px;
  --padding: 16px;
  --sub-task-item-padding: 8px;

  --gray-50: hsl(235, 4%, 98%);
  --gray-100: hsl(235, 4%, 95%);
  --gray-200: hsl(235, 4%, 90%);

  --gray-300: hsl(235, 4%, 85%); /* table */
  --gray-400: hsl(235, 4%, 75%);
  --text: hsl(235, 4%, 30%); /* table text text */
  --icon: hsl(235, 4%, 40%);

  --gray-500: hsl(235, 4%, 50%);
  --gray-600: hsl(235, 4%, 40%);
  --gray-700: hsl(235, 4%, 30%);
  --gray-800: hsl(235, 4%, 20%);
  --gray-900: hsl(235, 4%, 10%);
  --gray-1000: hsl(235, 4%, 4%);

  --green-500: #c41717;
  --green-600: #129d40;
}

body {
  background-color: var(--background-color);
  overflow: hidden;
}
.add-task-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.add-task-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: end;
  gap: 16px;
  opacity: 0;
  z-index: 3;
  transition: 0.3s ease-out;
  background-color: hsl(216, 9%, 11%, 0.5);
  pointer-events: none;
  backdrop-filter: blur(2px);
}
.add-task-form {
  margin: 16px;
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap));
  width: 30%;
  height: calc(100%-32px);
  background-color: var(--table-row-background-color);
  border-radius: var(--border-radius);
  padding: 32px;
  transition: 0.5s ease-out;
  transform: translateX(100%);
}
.add-task-form hr {
  background-color: var(--border-color);
  height: 1px;
  border: none;
}
.add-task-container.active {
  opacity: 1;
  pointer-events: all;
}

.add-task-container.active .add-task-form {
  transform: translateX(0);
}

.column-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
}
.column-input label {
  font-size: 0.8rem;
  color: var(--gray-700);
}
.horizontal-input label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}
.horizontal-input label span {
  font-size: 20px;
}
.add-task-body input,
.add-task-body select,
.add-task-subtasks input {
  height: 32px;
  padding: 0 16px;
  border-radius: var(--button-border-radius);
  border: 2px solid var(--table-row-background-color-darker);
  background-color: var(--table-row-background-color-darker);
  color: var(--text-color);
  font-weight: 400;
  transition: 0.2s ease-in;
  outline: none;
}

.close-add-task-container {
  padding: 0 16px;
  height: var(--button-height);
  font-weight: var(--input-font-weight);
  border-radius: var(--button-border-radius);
  background-color: var(--table-row-background-color-darker);
  cursor: pointer;
  border: none;
}
.horizontal-input {
  display: flex;
  align-items: center;
  gap: 8px;
}
.add-task-subtasks {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#subTaskNameInput {
  flex: 1;
}
#addSubTaskLabel {
  height: 32px;
  width: 32px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: var(--button-border-radius);
  transition: 0.2s ease-in;
  cursor: pointer;
  border: none;
  background-color: var(--text-color);
  color: var(--background-color);
}
#addSubTaskLabel span {
  font-size: 1.2rem;
}
#addSubTaskLabel:hover {
  background-color: var(--gray-1000);
}
#addSubTaskLabel:active {
  background-color: var(--gray-800);
}
#subTasksLabels {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.sub-task-label {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: var(--gray-400);
  padding: 4px 8px;
  border-radius: 8px;
}
.sub-task-label p {
  font-size: 0.8rem;
  color: var(--gray-600);
}
.sub-task-label button {
  border: none;
  outline: none;
  width: 16px;
  height: 16px;
  background-color: transparent;
  cursor: pointer;
  color: var(--gray-600);
}
.sub-task-label button span {
  font-size: 1rem;
}
.add-task-footer {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
  justify-content: end;
}

.tasks-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 64px;
}

.tasks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* header */
.tasks-title {
  color: var(--text-color);
  font-size: var(--header-size);
  font-weight: 700;
}
.tasks-actions {
  display: flex;
  gap: var(--gap);
}

/* buttons */
.actions-btn {
  height: var(--button-height);
  padding: 0 16px 0 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  font-weight: var(--input-font-weight);
  border-radius: var(--button-border-radius);
  transition: 0.2s ease-in;
  cursor: pointer;
  border: none;
}
.actions-btn span {
  font-size: 20px;
}
.actions-btn p {
  font-size: var(--btn-text-size);
}
.dark-btn {
  background-color: var(--text-color);
  color: var(--background-color);
}
.light-btn {
  background-color: var(--table-row-background-color);
  color: var(--background-color);
  border: var(--border-size) solid var(--border-color);
}
.light-btn p {
  color: var(--input-text-color);
}
.light-btn span {
  color: var(--input-icon-color);
}

/* toolbar */
.tasks-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.sort-options {
  display: flex;
  gap: 8px;
  justify-content: end;
  width: 40%;
}
.search-bar {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--table-row-background-color);
  border: var(--border-size) solid var(--border-color);
  flex: 1;
  padding: 0 8px;
  height: var(--button-height);
  border-radius: var(--button-border-radius);
}
.search-bar span {
  color: var(--input-icon-color);
  font-size: 20px;
}
.search-bar input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
}
.search-bar input::placeholder {
  color: var(--input-text-color);
  font-size: var(--btn-text-size);
  font-weight: 500;
}
.search-bar input:active {
  border: none;
  background-color: transparent;
}
.search-bar input:focus {
  border: none;
  background-color: transparent;
}
.search-bar input:hover {
  border: none;
  background-color: transparent;
}
.completed-switch {
  display: flex;
  gap: 4px;
  background-color: var(--table-header-background-color);
  border-radius: var(--button-border-radius);
  padding: 4px;
  position: relative;
}
.completed-switch-slider {
  position: absolute;
  background-color: var(--table-row-background-color);
  height: calc(100% - 8px);
  width: 113px;
  border-radius: calc(var(--button-border-radius) - 4px);
  transition: 0.3s ease;
  z-index: 0;
}
.completed-switch label {
  padding: 4px 24px;
  width: fit-content;
  border-radius: 8px;
  font-size: var(--btn-text-size);
  font-weight: var(--input-font-weight);
  color: var(--border-color);
  white-space: nowrap;
  z-index: 1;
  transition: 0.3s ease;
  cursor: pointer;
}
.completed-switch input {
  display: none;
}
.completed-switch input:checked + label {
  color: var(--input-text-color);
}

.tasks-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
/* table header */
.list-header,
.task-header {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 104px 104px 1fr 80px 60px;
  gap: 48px;
  grid-auto-flow: column;
  align-items: center;
}

.list-header {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  padding: 16px;
  background-color: var(--table-row-background-color);
  border: var(--border-size) solid var(--border-color);
  width: 100%;
}

.header-data-cell {
  display: flex;
}
.header-action {
  justify-content: end;
  padding-right: 8px;
}
.header-data-cell p {
  font-weight: var(--input-font-weight);
  font-size: var(--text-size);
  color: var(--input-icon-color);
}
.tasks-list-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;

  position: relative;

  min-height: 0;
  container-type: size;
  container-name: listWrapper;
}

#taskList {
  cursor: grab;
  display: flex;
  flex-direction: column;

  height: fit-content;

  overflow-y: auto;
  overflow-x: hidden;

  background-color: transparent;
  list-style: none;

  scrollbar-width: thin;
  scrollbar-color: var(--border-color) transparent;
  position: relative;
  scrollbar-width: none;
  border: var(--border-size) solid var(--border-color);
  border-top: none;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  background-color: var(--table-row-background-color);
}

.task-item {
  height: min-content;
  min-height: 10cqh;
  max-height: 10cqh;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  background-color: var(--table-row-background-color);

  overflow: hidden;
  flex-direction: column;
  border-bottom: var(--border-size) solid var(--border-color);

  position: relative;
  transition: max-height 0.5s ease-in;
}
.task-item.active {
  max-height: 1000cqh;
}

/* .task-item::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #191b1e;
  left: 0;
  top: 0;
  z-index: 99;
  opacity: 0;
  transform: translateX(-100%);
  transition: 0.2s ease-in;
}
.task-item:hover::before {
  opacity: 1;
  transform: translateX(0);
}
.active::before {
  opacity: 1;
  transform: translateY(0);
} */

.task-item:last-child {
  border-bottom: none;
}

.task-header {
  padding: 0 16px;
  min-height: 10cqh;
}
.task-action {
  position: relative;
  display: flex;
  justify-content: end;
}

.task-active {
  width: 16px;
  height: 16px;
  position: relative;
}

.task-active span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in;
  color: var(--icon);
  font-size: 1rem;
  width: 16px;
  height: 16px;
}

.delete-btn {
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 50%;
  border: none;
  background-color: var(--table-row-background-color);
}
.delete-btn span {
  font-size: 20px;
  color: var(--input-text-color);
}

.task-item-container {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.task-item-container p {
  color: var(--input-text-color);
  font-size: var(--text-size);
  font-weight: var(--input-font-weight);
}

.status-container,
.priority-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
.status-dot,
.priority-dot {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.status-text,
.priority-text {
  font-size: var(--text-size);
  font-weight: var(--input-font-weight);
}
.status-container.NOT_STARTED .status-dot {
  background-color: hsl(219, 8%, 41%);
}
.status-container.IN_PROGRESS .status-dot {
  background-color: hsl(41, 85%, 56%);
}
.status-container.COMPLETED .status-dot {
  background-color: hsl(209, 71%, 52%);
}
.priority-container.Low .priority-dot {
  background-color: hsl(140, 79%, 43%);
}
.priority-container.Medium .priority-dot {
  background-color: hsl(41, 85%, 56%);
}
.priority-container.High .priority-dot {
  background-color: hsl(0, 85%, 56%);
}
/* .status-container.NOT_STARTED {
  background-color: hsl(219, 8%, 41%, 0.2);
  color: hsl(219, 8%, 41%);
}
.status-container.IN_PROGRESS {
  background-color: hsl(41, 85%, 56%, 0.2);
  color: hsl(41, 85%, 56%);
}
.status-container.COMPLETED {
  background-color: hsl(209, 71%, 52%, 0.2);
  color: hsl(209, 71%, 52%);
} 
.priority-container.Low {
  background-color: hsl(140, 79%, 43%, 0.2);
  color: hsl(140, 79%, 43%);
}
.priority-container.Medium {
  background-color: hsl(41, 85%, 56%, 0.2);
  color: hsl(41, 85%, 56%);
}
.priority-container.High {
  background-color: hsl(0, 85%, 56%, 0.2);
  color: hsl(0, 85%, 56%);
} */

.progress-container {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 100%;
}
.progress-bar-text {
  font-size: 0.8rem;
  display: flex;
  justify-content: flex-end;
  width: 40px;
  transition: 0.3s ease-in;
}
.progress-bar-background {
  position: relative;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--border-color);
}
.progress-bar {
  position: absolute;
  height: 4px;
  border-radius: 4px;
  background-color: var(--input-text-color);
  transition: 0.3s ease-in;
}

@keyframes slideInAndExpandTask {
  0% {
    opacity: 0;

    transform: translateX(-100%);
    max-height: 0;
    min-height: 0;
    border-bottom-color: transparent;
  }

  40% {
    opacity: 0.6;
    min-height: 10cqh;
    max-height: 10cqh;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    min-height: 10cqh;
    max-height: 10cqh;
    border-bottom-color: var(--border-color);
  }
}

.slide-in-task-animation {
  animation: slideInAndExpandTask 0.6s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes slideOutAndCollapseTask {
  0% {
    opacity: 1;
    transform: translateX(0);
    min-height: 10cqh;
    max-height: 10cqh;
    border-bottom-width: var(--border-size);
  }

  30% {
    opacity: 0;
    transform: translateX(100%);
    min-height: 10cqh;
    max-height: 10cqh;
    border-bottom-width: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
    max-height: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    border: none;
  }
}

.slide-out-task-animation {
  overflow: hidden;
  pointer-events: none;
  animation: slideOutAndCollapseTask 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.task-body {
  display: grid;
  grid-template-rows: 0fr;
  width: 100%;
  transition: 0.5s ease-in-out;
  padding: 0 16px;
}
.active .task-body {
  grid-template-rows: 1fr;
  padding-bottom: 16px;
}

.task-body-content {
  overflow: hidden;
  min-height: 0;
  opacity: 0;
  transition: 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.active .task-body-content {
  opacity: 1;
}

.sub-tasks-controls {
  display: flex;
  gap: 8px;
}
.sub-task-input {
  flex: 1;
  padding: 4px 16px;
  border-radius: var(--button-border-radius);
  border: 2px solid var(--table-row-background-color-darker);
  background-color: var(--table-row-background-color-darker);
  color: var(--text-color);
  font-weight: 400;
  transition: 0.2s ease-in;
  outline: none;
}
.sub-task-input::placeholder {
  color: var(--input-text-color);
  font-weight: 400;
}

.sub-task-input:hover {
  border: 2px solid var(--table-row-background-color-darker-hover);
}
.sub-task-input:focus {
  border: 2px solid var(--table-row-background-color-darker-active);
}

.add-sub-task-btn {
  height: var(--button-height);
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: var(--button-border-radius);
  transition: 0.2s ease-in;
  cursor: pointer;
  border: none;
  transition: 0.2s ease-in;
  background-color: var(--text-color);
  border: 2px solid var(--text-color);
  color: var(--background-color);
}

.sub-task-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0 8px;
}
.sub-task-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 8px;
  border-radius: 12px;
}
.sub-task-item:hover {
  background-color: hsl(240, 7%, 94%);
}
.sub-task-text {
  border: none;
  border-radius: 8px;
  padding: 8px;
  background-color: transparent;
  font-size: 0.9rem;
  outline: none;
  flex: 1;
}
.sub-task-text:focus {
  background-color: hsl(235, 4%, 95%);
}

.sub-task-delete-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  transition: 0.2s ease-in;
}
.sub-task-delete-btn span {
  font-size: 20px;
  color: var(--input-text-color);
}
.sub-task-custom-checkbox {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  user-select: none;
  margin: 2px;
  margin-right: 0;
}

.sub-task-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.sub-task-checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: var(--border-size) dashed var(--border-color);
  border-radius: 50%;
  background-color: transparent;
  transition: 0.2s ease-in;
}
.sub-task-checkmark span {
  font-size: 1.2rem;
}
.sub-task-checkmark::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: var(--border-size) solid var(--border-color);
  opacity: 0;
  transition: 0.2s ease-in;
}
.sub-task-custom-checkbox:hover .sub-task-checkmark {
  border: 2px dashed transparent;
}
.sub-task-custom-checkbox:hover .sub-task-checkmark::before {
  opacity: 1;
}

.sub-task-custom-checkbox:hover
  .sub-task-checkbox:checked
  + .sub-task-checkmark {
  background-color: var(--input-text-color);
  border-color: var(--input-text-color);
  opacity: 1;
}

.sub-task-checkbox:checked + .sub-task-checkmark {
  background-color: var(--input-text-color);
  border-color: var(--input-text-color);
  opacity: 1;
}
.sub-task-checkbox:checked + .sub-task-checkmark::before {
  background-color: var(--input-text-color);
  border-color: var(--input-text-color);
  opacity: 1;
}
.sub-task-checkbox + .sub-task-checkmark .material-symbols-outlined {
  color: transparent;
  transition: 0.3s;
  z-index: 2;
  position: relative;
}
.sub-task-checkbox:checked + .sub-task-checkmark .material-symbols-outlined {
  color: var(--background-color);
  transition: 0.3s;
}

.slide-out-animation {
  /* Ważne: overflow: hidden jest konieczne, żeby treść nie wystawała podczas zwijania */
  overflow: hidden;
  animation: slideOutAndCollapseSubTask 0.5s ease-in-out forwards;
  pointer-events: none; /* Żeby nie dało się kliknąć w trakcie usuwania */
}

@keyframes slideInAndExpandSubTask {
  0% {
    opacity: 0;
    transform: translateX(-100%); /* Startujemy lekko z lewej */

    /* Element jest "zgnieciony" */
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  60% {
    max-height: 48px;
    padding-top: 8px; /* Przywracamy Twój standardowy padding */
    padding-bottom: 8px;
  }
  100% {
    opacity: 1;
    transform: translateX(0);

    /* Element wraca do normalnych wymiarów */
    max-height: 48px;
    margin-bottom: var(
      --sub-task-item-padding
    ); /* Dajemy zapas, żeby zmieścił się tekst (np. 2 linijki) */
    padding-top: 8px; /* Przywracamy Twój standardowy padding */
    padding-bottom: 8px;
  }
}

.slide-in-animation {
  animation: slideInAndExpandSubTask 0.5s ease-out forwards;
}

@keyframes slideOutAndCollapseSubTask {
  0% {
    opacity: 1;
    transform: translateX(0);
    /* Ustawiamy startowe wartości takie, jakie element ma normalnie */
    max-height: 48px;
  }
  50% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    max-height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
    transform: translateX(100%);
  }
}
